h1 {
    color: red;
}

#heading-2{
    color: blue;
}

.heading{
    color: orange;
}

.para{
    border:2px;
    border-color: black;
    border-style: solid;
    padding:20px;
    text-align: center;
}

.navbar{
    border: 3px;
    border-style: solid;
    border-color: black;
    padding: 20px;
    background-color: lightblue;

}
.navbar{
    text-align: center;
}
.navbar a{
    color: black;
    text-decoration: none;
    padding: 20px;
    
}
.navbar a:hover{
    background-color: rgb(92, 69, 152);
    color: rgb(154, 151, 160);
}
body{
    margin: 0px;
}
.card{
    border: 2px solid black;
    width: 300px;
    text-align: center;
    margin: 30px auto;
}
.card img{
    width: 100%;
}