h1 {
    color: red;
}

#heading-2{
    color: blue;
}

.heading{
    color: orange;
}

.para{
    border:2px;
    border-color: black;
    border-style: solid;
    padding:20px;
    text-align: center;
}